<div class="feature">
    <div class="row">
        <div class="column1">
            <img class="img-1" src="assets/Comparison.png">
        </div>
        <div class="column2">
            <h1 class="section-title white-text">Season-By-Season Comparer</h1>
            <h3 class="section-text white-text">
                With the season-by-season comparer, you can pick any two players in NBA history 
                (1950-2021) and view all their season statistics for their careers. You can compare 
                any two seasons for any two players and view normal statistics or advanced statistics, 
                with checkmarks next to the player with the better statistic.
            </h3>
        </div>
    </div>
</div>

<div class="feature white">
    <div class="row">
        <div class="column2">
            <h1 class="section-title">Adjusted Statistics Comparer</h1>
            <h3 class="section-text">
                To better compare players from different time periods, the adjusted statistics comparer 
                standardizes each player's season statistics based on the year's averages and then rescales
                based on 2020 statistics, so now you can compare any two players as if they played together.
            </h3>
        </div>
        <div class="column1">
            <img class="img-2" src="assets/adjusted-stats.png">
        </div>
    </div>
</div>

<div class="feature">
    <div class="row">
        <div class="column1">
            <img class="img-3" src="assets/historical.png">
        </div>
        <div class="column2">
            <h1 class="section-title white-text">Historical Statistics</h1>
            <h3 class="section-text white-text">
                In the historical statistics section, you can view the statistics of every player
                in any given season. You can pick any season, and sort the table by any statistic
                to see league leaders in any category. 
            </h3>
        </div>
    </div>
</div>

<div class="feature white">
    <div class="row">
        <div class="column2">
            <h1 class="section-title">Statistic Predictor (Coming Soon)</h1>
            <h3 class="section-text">
                The statistic predictor takes advantage of machine learning 
                algorithms in order to estimate 2022 season statistics for 
                all 2021 NBA players. 
            </h3>
        </div>
        <div class="column1">
            <img class="img-4" src="assets/coming-soon.jpg">
        </div>
    </div>
</div>
