.card1 {
    /* margin-left: 40%; */
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
 }
 .card2 {
    /* margin-left: 20%; */
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
 }
 .player-img {
    height: 400px;
 }
 
 .compare-btn {
    margin-bottom: 10%;
    margin-left: 48%;
 
    margin-top: 4%;
 }

 @media (max-width: 1200px), (max-height: 600px) {
   .small-txt {
       margin-top: 10%;
       margin-left: 5%;
       margin-right: 5%;
       margin-bottom:100%;
   }

   .too-small {
       height: 50%;
       text-align: center;
   }
}