
.drop {
    margin-bottom: 5%;
    margin-left: 75%;
}

.dropdown {
    margin-top: 3%;
    font-weight: bold;
}


.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:nth-child(odd){
    background-color: lightgrey;
}

.nbaTable {
    margin-top: 3%;
    width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.title {
    text-align: left;
    margin-top: 5%;
    font-size: 1.5rem;
    margin-left: 2%;
}

@media (max-width: 1200px), (max-height: 600px) {
    .small-txt {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .too-small {
        height: 50%;
        text-align: center;
    }
}